node_modules
.DS_Store
dist
dist_injected
dist-ssr
*.local
*.log
/.idea

.yarn/cache
.yarn/install-state.gz

public/assets
public/assets_*
!public/assets_default
!public/assets/web/bg-library.webp
!public/assets/web/login-mobile-bg.webp
!public/assets/web/bg-gallery-payment.png
!public/assets/apricotter-wordmark.webp
!public/assets/icons/

.vscode/chrome_data
